/* SETTING
------------------------------*/
$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)"
) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
ul {
    padding-left: 0;
    list-style: none;
    @include flex();
}
a {
    text-decoration: none;
}
